*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: calc(16px + 0.5vw);
}

/*Header*/

header{
    background-color: #F1F6F9;
    color: #212A3E;
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    position: fixed;
    transition: 0.5s;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0 10vw;
}

.header-text{
    font-size: calc(20px + 0.5vw);
}

.nav{
    display: flex;
    gap: 30px;
}

.nav-element{
    transition: 0.5s;
    color: #212A3E;
    text-decoration: none;
}

.nav-element:hover{
    color: #FFC436;
    cursor: pointer;
}

body.scrolled header{
    height: 8vh;
}

body.scrolled .header-text{
    font-size: calc(15px + 0.5vw);
}

/*Header*/

/*------------------------------------------*/

/*Main*/

.main {
    background-color: #9BA4B5;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
    text-align: center;
    height: 80vh;
    padding-top: 20vh;
}

.main-text {
    font-size: calc(100px + 0.5vw);
    font-weight: bold;
    color: #FFC436;
}

.main-content {
    background-image: url("assets/about/gt3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*Main*/

/*------------------------------------------*/

/*About*/

.about-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.about-info{
    background-color: #394867;
    padding: 10vh;
}

.about-text{
    font-size: calc(20px + 0.5vw);
    color: #F1F6F9;
    margin-bottom: 20px;
}

.about-me{
    margin-bottom: 10vh;
}

.my-photos{
    margin-bottom: 10vh;
}

.parent {
 	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-images{
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.skills{
    margin-bottom: 10vh;
}

.block{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #F1F6F9;
}

.skills-parent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*About*/

/*------------------------------------------*/

/*Footer*/

footer{
    height: 300px;
    background-color: #212A3E;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-text{
    font-size: calc(10px + 0.5vw);
    color: #F1F6F9;
    width: 600px;
}

.fab{
    font-size: 50px;
    color: #F1F6F9;
    transition: 0.5s;
}

.fab:hover{
    color: #FFC436;
    font-size: 55px;
}

.end-text{
    display: flex;
    justify-content: center;
    text-align: end;
    color: #F1F6F9;
}

/*Footer*/